@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:wght@300..800&display=swap');
:root {
  font-family: 'Open Sans', sans-serif, Inter, system-ui, Avenir, Helvetica, Arial;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
body::-webkit-scrollbar{
  background-color: #474747;
  width: 7px;
  height: 7px;
}
body::-webkit-scrollbar-thumb{
  background-color: #aeaeae;
  height: 10px;
}
img.load-text{
  width: 350px;
  height: 350px;
  position: fixed;
  z-index: 8000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
#app{
  overflow-x: hidden;
}
.qxCTlb {
  height: 60px;
  padding: 26px 39px;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: .25px;
  color: white;
  border-width: 0;
  cursor: pointer;
  white-space: break-spaces;
  word-break: break-word;
  font-size: 20px;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.qxCTlb:hover{
  transform: scale(1.1);
}
.main-title{
  font-size: 45px;
  font-weight: 700;
  text-align: left;
  margin-left: 45px;
}
.second-list{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  margin-right: 0;
  gap: 1px;
}
.main-header .normal-button{
  font-size: 25px;
  text-decoration: underline;
}
.main-header .normal-button:hover{
  font-size: 30px;
}
.main-header{
  height: 75px;
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  border-bottom: 1px dashed #8d6f02;
  border-radius: 0 0 50px 50px;
  transition: all 0.5s ease;
  color: #000;
}
.main-header ul{
  display: flex;
  list-style: none;
  flex-direction: row;
  align-items: center;
  margin-right: 14px;
}
.main-header a{
  text-decoration: none;
  color: currentColor;
  padding: 10px;
  font-size: 35px;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.2s ease, font-size 0.3s ease;
}
.main-header a:hover{
  font-size: 40px;
}
.main-header .tik{
  font-size: 32px;
}
.main-header .tik:hover{
  font-size: 37px;
}
.main-zone{
  min-height: 100vh;
  width: 100vw;
  background-color: #d0a403;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
  padding-bottom: 60px;
}
.main-logo{
  width: 95px;
  height: 95px;
  position: absolute;
  top: 100px;
}
.main-background{
  background-color: #242424;
  height: 150px;
  width: 150px;
  position: absolute;
  bottom: -30px;
  left: -30px;
  border-radius: 50%;
}
.main-background2{
  background-color: #242424;
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: -30px;
  left: 90px;
  border-radius: 50%;
}
.main-background3{
  background-color: #242424;
  height: 50px;
  width: 50px;
  position: absolute;
  bottom: -20px;
  left: 180px;
  border-radius: 50%;
}
.main-background4{
  background-color: #242424;
  height: 50px;
  width: 50px;
  position: absolute;
  bottom: -20px;
  right: 180px;
  border-radius: 50%;
}
.main-background5{
  background-color: #242424;
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: -30px;
  right: 90px;
  border-radius: 50%;
}
.main-background6{
  background-color: #242424;
  height: 150px;
  width: 150px;
  position: absolute;
  bottom: -30px;
  right: -30px;
  border-radius: 50%;
}
.de{
  background-color: #d0a403;
}
.main-zone img.second{
  height: 400px;
  width: auto;
  mask-image: linear-gradient(black 95%, transparent);
}
.zone{
  width: 100vw;
  position: relative;
}
.main-zone-content{
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 60px;
  margin-top: 40px;
}
.main-zone-content h1{
  font-weight: 700;
  color: #000;
}
.desing-zone h1{
  font-size: 70px;
  font-weight: 700;
  color: #d0a403;
  font-family: 'Cormorant Garamond', sans-serif;
  margin-bottom: -30px;
  margin-top: 0;
}
.desing-zone{
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}
.move-button{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #d0a403;
  border: none;
  cursor: pointer;
  font-size: 30px;
  margin-left: 15px;
  margin-right: 15px;
  transition: all 0.4s ease;
}
.move-button:hover{
  background-color: #000;
  color: #d0a403;
  transform: scale(1.1);
}
.slide-image{
  width: 70vw;
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all ease 0.5s;
  display: none;
  border-radius: 25px;
}
.slide-image.active{
  transform: scale(1.1);
  animation: fadeIn 1.5s ease;
  display: flex;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: blur(15px);
  }
  10% {
    opacity: 1;
    filter: brightness(1.5) blur(10px);
  }
}
.slide-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: max-content;
  gap: 50px;
  margin-bottom: 75px;
  margin-top: 75px;
}
.images-container{
  position: relative;
}
.image1{
  background-image: url('/assets/Diseño1.webp');
}
.image2{
  background-image: url('/assets/Diseño2.webp');
}
.image3{
  background-image: url('/assets/Diseño3.webp');
}
.image4{
  background-image: url('/assets/Diseño4.webp');
}
.image5{
  background-image: url('/assets/Diseño5.webp');
}
.image6{
  background-image: url('/assets/Diseño6.webp');
}
.bar{
  width: 15%;
  height: 10px;
  background-color: #b6b6b6;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.7s ease, height 0.4s ease, width 0.4s ease;
}
.bar:hover{
  transform: scale(1.1);
}
.bar.active{
  background-color: #d0a403;
  pointer-events: none;
  height: 13px;
  width: 17%;
}
.bars-container{
  gap: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.about-me-zone{
  background-color: #d0a403;
  width: 100%;
  min-height: 90vh;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}
.about-me-zone h1{
  color: #000;
  font-size: 40px;
  margin-bottom: 60px;
  text-align: center;
}
.cards-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  width: 100%;
  padding-bottom: 15px;
  background-color: #242424;
  color: #d0a403;
  width: 50vw;
  height: max-content;
  padding: 25px;
  border-radius: 30px;
  display: flex;
  align-items: center;
}
.card-content p{
  color: #fff;
  font-size: 17px;
}
.card-content ul{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
}
.payment-card{
  width: 100vw;
  height: 500px;
  background-color: #d0a403;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.payment-zone{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}
.card-content-pay{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
  background-color: #242424;
  height: 300px;
  width: 23%;
  border-radius: 10px;
  font-size: 20px;
  color: #fff;
}
.payment-zone h1{
  color: #d0a403;
  font-size: 50px;
  font-family: 'Cormorant Garamond', sans-serif;
}
.card-content-pay img{
  width: 150px;
  height: auto;
}
.card-content-pay img.billete{
  height: 150px;
  width: auto;
}
.card-content-pay img.tarjeta{
  width: 250px;
  height: 125px;
}
.card-content-pay img.tarjeta2{
  width: 300px;
  height: 150px;
}
.card-content-pay img.yape{
  border-radius: 10px;
}
.card-p{
  margin-top: 45px;
}

@media screen and (max-width: 1777px){
  .main-zone-content{
    width: 70%;
  }
}

@media screen and (max-width: 1020px){
  .main-zone-content{
    width: 100%;
  }
  .main-zone img.second{
    width: 40%;
    height: auto;
  }
}

@media screen and (max-width: 970px) {
  .card-content-pay{
    width: 80%;
    background-color: #d0a403;
    color: #000;
    font-weight: 700;
  }
  .payment-card{
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: #242424;
  }
  .payment-zone{
    padding: 0;
    background-color: #242424;
  }
}

@media screen and (max-width: 900px) {
  .slide-image{
    width: 90vw;
  }
  .move-button{
    position: absolute;
    z-index: 15;
  }
  .prev-button{
    left: 0px;
  }
  .next-button{
    right: 0px;
  }
  .desing-zone, .about-me-zone{
    padding-bottom: 100px;
  }
  .cards-container{
    width: 90%;
  }
}

@media screen and (max-width: 690px){
  .main-zone-content{
    width: 100%;
    margin-left: 0;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .qxCTlb{
    margin-left: 15px;
  }
  .main-zone-content h1{
    text-align: center;
  }
  .main-zone img.second{
    display: none;
  }
}

@media screen  and (max-width: 580px) {
  .main-header .normal-button{
    font-size: 15px;
  }
  .main-header .normal-button:hover{
    font-size: 17px;
  }
}

@media screen and (max-width: 480px){
  .main-header .normal-button{
    font-size: 14px;
    font-weight: 700;
  }
  .main-header .normal-button:hover{
    font-size: 18px;
  }
  .main-header a {
    font-size: 25px;
  }
  .main-header a:hover {
    font-size: 30px;
  }
  .main-header a.tik{
    font-size: 22px;
  }
  .main-header a.tik:hover {
    font-size: 27px;
  }
  .first-list, .second-list{
    padding: 0;
    margin: 0;
  }
}

@media screen and (max-width: 470px) {
  .about-me-zone .cards-container{
    height: 400px;
  }
}

@media screen and (max-width: 380px) {
  .zone{
    width: auto;
  }
  .main-zone h1{
    font-size: 40px;
  }
  .about-me-zone{
    height: 120vh;
  }
  .main-header .normal-button{
    font-size: 14px;
  }
}

@media screen and (max-width: 370px) {
  .main-zone h1{
    margin-top: 100px;
  }
}

@media screen and (max-width: 360px) {
  .main-header .second-list{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
  }
}